.cadastro-fundo{
    background-color: #CF2B2B;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    z-index: 2;
}

.cadastro{
   

    width: 50%;
    height: 600px;

    position: fixed;
    top: 25%;
    right: 25%;

    z-index: 3;

}

.cadastro .logo{
    color: #FFFFFF;
    font-size: 60px;
    font-family: 'Righteous', cursive;

    display: flex;
    justify-content: center;
}

.cadastro .formulario{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

    margin-top: 40px;
}

.formulario .nome,.formulario .endereco,.formulario .telefone  {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulario .input-nome,.formulario .input-endereco,.formulario .input-telefone{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border:none;
}

.cadastro .botao-cadastro{
    margin-top: 20px;
    color: #CF2B2B;
    width: 100%;
    height: 61px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    border-radius: 50px;
    border:none;
}

.botao-cor{
    color: #FFFFFF;
    background-color:#32B72F;
}

.escondido-cadastro-fundo,  .escondido-cadastro{
    display: none;
}


