footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;

    position: fixed;
    bottom: 0;
}

.botao{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button{
    width: 364px;
    height: 61px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    border-radius: 50px;
}